{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('./assets/css/estilsInici.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}Inici{% endblock %}

{% block body %}
    <br><br><br><br>
    <h1 id="titolInici">Projecte Symfony Equips 2n DAW</h1>
    <div class="paragrafInici">
        <p>Inici programa gestió d'equips i membres del projecte 2n DAW.</p>
        <a href="{{ path('dades_equip', {'codi':3}) }}"><img class="imatgeInici" src="{{ asset('./assets/img/equipo.png') }}" /></a>
   </div>

    <h2 id="subtitolInici">Llistat d'equips</h2>
    <div class="blocText">
        <ul class="llistaInterna">
            {% for equip in equips %}
                <li><b><a class="urlEquip" href="{{ path('dades_equip', {'codi': equip.id}) }}">{{ equip.nom }}</a></b></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

