{% extends 'base.html.twig' %}
{% block title %}Equips{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('./assets/css/estilsEquips.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1 id="titolEquip">Dades Equip</h1>
    <div class="equipos">
    {% if equips %}
        {% for equip in equips %}
        <ul>
            <li><strong>Codi</strong>: {{ equip.codi }}</li>
            <li><strong>Nom</strong>: {{ equip.nom }}</li>
            <li><strong>Cicle</strong>: {{ equip.cicle }}</li>
            <li><strong>Curs</strong>: {{ equip.curs }}</li>
            <li><strong>Membres</strong>: {{ equip.membres }}</li>
        </ul>
        {% endfor %}
    {% else %}
        <img src="{{ asset('./assets/img/triste.png') }}" />
        <p style="color:red;">No s'han trobat equips</p>
    {% endif %}
    </div>
{% endblock %}